*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}



body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 49, 49);
}


.main
{
    --border-color: orange;
    --border-style: none;
    --border-width: 3px;


    display: flex;
    flex-direction: column;
    width: 80vmin;
    height: 80vmin;

    background-color: rgb(25, 175, 25);
    padding: 20px;
    border-radius: 10px;
}


/* cells */
.main > div > div
{
    flex: auto;
    background-color: white;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-right: none;
    border-bottom: none;
}


.main > div > div:last-child
{
    border-right: var(--border-width) var(--border-style) var(--border-color);
}

.main > div:last-child > div
{
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}


/* rows */
.main > div
{
    width: 100%;
    display: flex;
    flex: auto;
    /* background-color: aqua; */
}
