*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}



body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 49, 49);

    gap: 30px;
}


.resetter
{
    height: 60px;
    width: 150px;
    border-radius: 5px;
    border: none;

    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.1s;
}

.resetter:hover
{
    background-color: navy;
    color: azure;
    border: 1px solid azure;

}

.resetter:active
{
    transform: scale(1.1);
}

.main
{
    --border-color: orange;
    --border-style: none;
    --border-width: 3px;


    display: flex;
    flex-direction: column;
    width: 80vmin;
    height: 80vmin;

    background-color: rgb(25, 175, 25);
    padding: 20px;
    border-radius: 10px;
}


/* cells */
.main > div > div
{
    flex: auto;
    background-color: white;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-right: none;
    border-bottom: none;
}


.main > div > div:last-child
{
    border-right: var(--border-width) var(--border-style) var(--border-color);
}

.main > div:last-child > div
{
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}


/* rows */
.main > div
{
    width: 100%;
    display: flex;
    flex: auto;
    /* background-color: aqua; */
}
